<div>
    <nav>
        <a href="/">Book-Mart</a>
        <ul>
            <li><a href="/authors">Search Author</a></li>
            <li><a href="/authors/new">Add Authors</a></li>
            <li><a href="/books">Search Book</a></li>
            <li><a href="/books/new">Add Book</a></li>
        </ul>
    </nav>
</div>